<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Vcare</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />
	<style>
		body {
			background-image: url("/images/Doctor.png");



		}
	</style>
</head>
</head>

<body>

	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4><span th:text="${objMobile}"></span>
				<h5 th:text="'Hi Dr.'+${session.drname}"></h5>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/app.png" alt=" icon" class="img-fluid" />
								<a th:href="@{/appointmentlist/{dname}(dname=${objdoctor.doctorName})}">Appointments</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pa.png" alt="icon" class="img-fluid" />
								<a th:href="@{/#}">Patients</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid" />
								<a th:href="@{/addAvailability/{did}(did=${objdoctor.doctorId})}">Availability</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid" />
								<a th:href="@{/updatedDoctorProfile/{did}(did=${objdoctor.doctorId})}">Doctor Profile</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid" />
								<a th:href="@{/hospitalBranch/hospitalBranchList}">Branch List</a>
							</div>
						</div>
					</section>
</body>

</html>