<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vcare</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/dashboard/assets/css/final.css" />
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/app.png" alt=" icon" class="img-fluid" />
								<a th:href="@{/Appindex}" class="active">Appointments</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pa.png" alt="icon" class="img-fluid" />
								<a href="./patients.html">Patients</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid" />
								<a href="./avaliability.html">Availability</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid" />
								<a href="./profile.html">Doctor Profile</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid" />
								<a href="./pprofile.html">Patient Profile</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-xl-10 col-lg-9 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1>Appointments</h1>
						</div>
						<!-- page Heading End -->

						<!-- all appointments -->
						<div class="appoiment-list">
							<div class="appoi-box">
								<div class="head-area">
									<div class="heading-box">
										<h3>Mr. Ravinder Reddy</h3>
									</div>
									<div class="action-box">
										<span class="date">15 Sept 2020 12:30PM</span>
										<a href="#" class="btn btn-reject">Reject</a>
										<a href="#" class="btn btn-accept">Accept</a>
									</div>
								</div>
								<p>
									Lorem, ipsum dolor sit amet consectetur adipisicing elit.
									Explicabo quos ipsam modi maiores delectus repellendus, nam
									asperiores veritatis possimus. Iure sit recusandae vitae
									quis molestiae enim ut cum earum quod.
								</p>
							</div>
							<!-- 2nd -->
							<div class="appoi-box">
								<div class="head-area">
									<div class="heading-box">
										<h3>Mr. Ravinder Reddy</h3>
									</div>
									<div class="action-box">
										<span class="date">15 Sept 2020 12:30PM</span>
										<a href="#" class="btn btn-reject">Reject</a>
										<a href="#" class="btn btn-accept">Accept</a>
									</div>
								</div>
								<p>
									Lorem, ipsum dolor sit amet consectetur adipisicing elit.
									Explicabo quos ipsam modi maiores delectus repellendus, nam
									asperiores veritatis possimus. Iure sit recusandae vitae
									quis molestiae enim ut cum earum quod.
								</p>
							</div>
							<!-- 3rd -->
							<div class="appoi-box">
								<div class="head-area">
									<div class="heading-box">
										<h3>Mr. Ravinder Reddy</h3>
									</div>
									<div class="action-box">
										<span class="date">15 Sept 2020 12:30PM</span>
										<a href="#" class="btn btn-reject">Reject</a>
										<a href="#" class="btn btn-accept">Accept</a>
									</div>
								</div>
								<p>
									Lorem, ipsum dolor sit amet consectetur adipisicing elit.
									Explicabo quos ipsam modi maiores delectus repellendus, nam
									asperiores veritatis possimus. Iure sit recusandae vitae
									quis molestiae enim ut cum earum quod.
								</p>
							</div>
						</div>
						<!-- all appointments end -->
					</div>
				</div>
				<!-- main area end -->
			</div>
		</div>
	</main>

	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="./assets/js/script.js"></script> -->
</body>

</html>