<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>V care</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/dashboard/assets/css/final.css" />
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a href="/">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
											
							<div class="sidebar-item">
                                <img src="/../images/Icons/pprofile.png" alt="icon"
                                    class="img-fluid" /><a th:href="@{/receptionform/{rid}(rid=${empid})}">Reception</a>
                            </div>
                            <div class="sidebar-item">
                                <img src="/../images/Icons/pprofile.png" alt="icon"
                                    class="img-fluid" /> <a
                                    th:href="@{/updateEmployee/{id}(id=${empid})}">Employee
                                    Profile</a>
                            </div>
                            <div class="sidebar-item">
									<img src="/../images/Icons/pprofile.png" alt="icon"
										class="img-fluid" /> <a
										th:href="@{/selectambulancedriver/{hbranchId}/{empid}(hbranchId=${hbranchId},empid=${empid})}">Ambulance
										Booking</a>
								</div>
							
							
							
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1> <span
									style="color:black; font-size:40px" th:text="${Hname}"></span>Ambulance Details</h1>
						</div>
						<!-- page Heading End -->

						<!-- abailablility -->

						<div class="avaliability-box">
							<div class="form-box">
               <form th:action="@{/savebookings/{bid}/{eid}(bid=${hbranchId},eid=${empid})}" th:object="${BookingAmbulance}"
			method="post"> 
			
			
								 <!-- <div class="col-md-3">
										<input type="hidden" class="form-control" id="bookingId"
											name="bookingId" th:value="${bookingId}" required="required">
									</div>  --> 
									<!-- <div class="col-md-3">
										<input type="hidden" class="form-control" id="hospitalbranch"
											name="hospitalbranch" th:value="${HbranchId}" required="required">
									</div> -->
									<div class="row">
										<div class="col-md-3">
											<label for="avl">From</label>
											<input type="text" class="form-control" id="addressFrom"
												name="addressFrom" th:value="*{addressFrom}" 
												required="required" th:minlength="1" th:maxlength="100">
										</div>
									
									
										 <div class="col-md-3">
											<label for="sep">To</label> <input type="text" class="form-control"
												id="toAddress" name="toAddress" th:value="*{toAddress}"required="required"	>
										</div>
									</div> 
									<div class="row">
										<div class="col-md-3">
											<label for="name">Ambulancetype</label> <input type="text"
												class="form-control" id="ambulancetype" name="ambulancetype"
												th:value="${ambulancetype}" required="required" th:minlength="1"
												th:maxlength="100" readonly>
										</div>
									
										<div class="col-md-3">
											<label for="avl">Driver</label>
											<input type="text" class="form-control" id="driverName"
												name="driverName" th:value="${drivername}"
												required="required" th:minlength="1" th:maxlength="100" readonly>
										</div>
										</div>
										
									 <div class="row">
                      
                      <div class="col-md-2">
                        <label for=""></label>
                        <button class="btn btn-danger btn-block">
                         Book
                        </button>
                      </div>
                    </div>
						</form>
						</div>
						</div>

						<!-- abailablility -->
					</div>
				</div>
			</div>
			<!-- main area end -->
		</div>
	</main>

	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="./assets/js/script.js"></script> -->
</body>

</html>