<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Vcare</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />
<link rel="stylesheet" th:href="@{/dashboard/assets/css/table.css}" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
			<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/app.png" alt=" icon" class="img-fluid">
								<a href="/hospital/hospitalList">Hospital</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/cal.png" alt="icon" class="img-fluid">
								<a th:href="@{/Drlist}">Doctor</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/patientsList}">Patient</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Appointment}">Appointments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/news/newstable}">News</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/network}">Social Network</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/payments}">Payments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/addabout}">About Us</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/offeerlist}">Offer services</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/laboratoryList}">Laboratory</a>
							</div>

						</div>

					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-xl-10 col-lg-7 col-md-9">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
						<div class="header-box">
							<h1>Ambulance BookingList</h1>
						</div>
						<div>
							<h2></h2>
							<table id="example">
								<thead>
									<tr>
										<th>Ambulance Name</th>
										<th>Driver Name</th>
										<th>addressFrom</th>
										<th>toAddress</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="Amulancebookingobj: ${Bookingambulancelist}">
										<td th:text="${Amulancebookingobj.ambulancetype}"></td>
										<td th:text="${Amulancebookingobj .driverName}"></td>
										<td th:text="${Amulancebookingobj .addressFrom}"></td>
											<td th:text="${Amulancebookingobj.toAddress}"></td>
										
										<td><select name="table"
											onchange="location = this.value;">
												<option>Action</option>
												<option
													th:value="@{/bookingambulance/editbookingAmbulance/{bookingambulanceId}(bookingAmbulanceId=${Amulancebookingobj.bookingId})}">edit
												</option>
												<option
													th:value="@{/bookingambulance/deleteBookingAmbulance/{bookingAmbulanceId}(bookingAmbulanceId=${Amulancebookingobj.bookingId})}">
													Delete</option>
										</select></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- all appointments end -->
					</div>
				</div>
				<!-- main area end -->
			</div>
		</div>
	</main>
	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script>
		$(function () {
			$("#example").dataTable();
		})
	</script>
</body>
</html>