<!DOCTYPE html>
<html lang="en">

<head>
<title>Vcare</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />

</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/app.png" alt=" icon" class="img-fluid">
								<a href="/hospital/hospitalList">Hospital</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid">
								<a th:href="@{/Drlist}">Doctor</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon"
									class="img-fluid"> <a th:href="@{/patientsList}">Patient</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon"
									class="img-fluid"> <a th:href="@{/Appointment}">Appointments</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid"> <a th:href="@{/news/newstable}">News</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid"> <a th:href="@{/network}">Social
									Network</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/payments}">Payments</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/addabout}">About Us</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/offeerlist}">Offer
									services</a>
							</div>

							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon"
									class="img-fluid" /> <a th:href="@{/laboratoryList}">Laboratory</a>
							</div>

						</div>

					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1>
								<span style="color: black; font-size: 40px" th:text="${name}"></span>
								Profile
							</h1>
						</div>
						<!-- page Heading End -->
						<!-- abailablility -->
						<div class="avaliability-box">
							<div class="form-box">
								<form th:action="@{/ContractEmployee/saveContract}" th:object="${objContract}"
									th:method="post" id="objContract" enctype="multipart/form-data">
									<div class="col-md-3">
										<div class="col-md-3">
											<input type="hidden" class="form-control"
												placeholder="Enter Your Id" id="age" name="age"
												th:value="${age}" th:readonly="true">
										</div>
										<input type="hidden" class="form-control"
											placeholder="Enter Your Id" id="conServices"
											name="conServices" th:value="${conserviceid}">
									</div>
									<div class="row">
										<div class="col-md-3">
											<label for="sep">Name</label> <input type="text"
												class="form-control" id="name" name="name"
												th:value="*{name}" required="required">
										</div>
										<div class="col-md-3">
											<label for="gender">Gender</label><br> <select
												id="Gender" name="Gender" th:value="*{Gender}">
												<option th:text="*{Gender}" th:value="*{Gender}">Gender</option>
												<option value="male">Male</option>
												<option value="female">Female</option>
												<option value="other">Others</option>
											</select>
										</div>
										<div class="col-md-3">
											<label for="Branch">Experience</label> <input type="number"
												class="form-control" placeholder="Years " id="experience"
												name="experience" th:value="*{experience}" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label for="sep">Mobile Number</label> <input type="tel"
												class="form-control" placeholder="MobileNumber "
												id="mobileNo" name="mobileNo" th:value="*{mobileNo}">
										</div>
										<div class="col-md-3">
											<label for="gender">EmailId</label> <input type="text"
												class="form-control" id="email" name="email"
												th:value="*{email}">
										</div>
										<div class="col-md-3">
											<label for="gender">password</label> <input type="password"
												class="form-control" id="password" name="password"
												th:value="*{password}">
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label for="active">Qualification</label> <input type="text"
												class="form-control" placeholder="Qualification"
												id="qualification" name="qualification"
												th:value="*{qualification}" required>
										</div>
										<div class="col-md-3">
											<h4>Date Of Birth</h4>
											<input type="date" th:value="*{DOB}" id="date" name="DOB"
												placeholder="dateOfBirth" class="form-control mb-8 col-12"
												required />
										</div>
										<!-- <div class="col-md-3">
											<label for="sep"> Fee</label> <input type="Numeric"
												class="form-control" id="doctorFee" name="doctorFee"
												th:value="*{Fee}">
										</div>  -->
									</div>
									<div class=row>
										<div class="col-md-3"></div>
										<div class="col-md-3">
											<button id="btn" class="btn btn-danger btn-block">Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- abailablility -->
				</div>
			</div>
		</div>
		<!-- main area end -->
		</div>
	</main>
	<!-- SCRIPTS -->
	<script src="../js/dropdown.js"></script>
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>