<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
<title>Vcare</title>
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<!-- MAIN CSS -->
<link rel="stylesheet" href="/dashboard/assets/css/final.css" />
<script
	src="https://cdn.tiny.cloud/1/xsqkidrxta3zg6czz7munozzg81prejrityd07h52wl5ixi6/tinymce/6/tinymce.min.js"
	referrerpolicy="origin"></script>
<script type="text/javascript" th:href="@{/richtext/jquery.richtext.js}"></script>
</head>
<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logoutDoc}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
								<div class="sidebar-item">
								<img src="/images/Icons/app.png" alt=" icon" class="img-fluid" />
								<a th:href="@{/appointment/appointmentlist/{did}(did=${session.DocId})}">Appointments</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/cal.png" alt="icon" class="img-fluid" />
								<a th:href="@{/DoctorAvailability/availabilityList/{doctorId}(doctorId=${session.DocId})}">Availability</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid" />
								<a th:href="@{/doctor/updatedDoctorProfile/{did}(did=${session.DocId})}">Doctor Profile</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/Prescription/prescriptionlist/{doctorId}(doctorId=${session.DocId})}">Patients Prescription</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/doctor/payment/{docId}(docId=${session.DocId})}">Payments</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1>Doctor Availability</h1>
							<h6 style="color:red;" th:text="${nodocbranches}"></h6>
						</div>
						<!-- page Heading End -->
						<!-- abailablility -->
						<div class="avaliability-box">
							<div class="form-box">
								<form th:action="@{/DoctorAvailability/saveAvailability/{doctorId}(doctorId=${doctorid})}"
									th:object="${doctorAvailability}" method="post">
									<div class="col-md-3">
										<input type="hidden" class="form-control" id="availabilityId"
											name="availabilityId" th:value="*{availabilityId}"
											required="required" th:minlength="1" th:maxlength="100">
										<input type="hidden" id="doctor" name="doctor"
											th:value="${doctorid}">
									</div>
									<div class="row">
										<div class="col-md-4">
											<label for="loc">Select Branch</label> <select
												class="form-control" id="hospitalBranch" name="hospitalBranch"
												th:value=this.value>
												<option th:if="${branches==1}" th:text="${branchame}"></option>
												<option th:each="bObj:${branchList}"
													th:value="${bObj.hospitalBranchId}"
													th:text="${bObj.hospitalBranchName}"></option>
											</select>
										</div>
										<div class="col-md-4">
											<label for="name">Start Timings</label> <input
												type="datetime-local" class="form-control" id="startTimings"
												name="startTimings" required="required"
												th:field="*{startTimings}" th:minlength="1"
												th:maxlength="100">
										</div>
										<div class="col-md-4">
											<label for="name">End Timings</label> <input
												type="datetime-local" class="form-control" id="endTimings"
												name="endTimings" required="required"
												th:field="*{endTimings}" th:minlength="1" th:maxlength="100">
										</div>
									</div>
									<div class="col-md-2" align="center">
										<button class="btn btn-danger btn-block" type="submit">
											Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- abailablility -->
			</div>
		</div>
		<!-- main area end -->
	</main>
	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>