<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Vcare</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />
<link rel="stylesheet" th:href="@{/dashboard/assets/css/table.css}" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/pa.png" alt="icon" class="img-fluid" />
								<a th:href="@{/Dephome/{bid}(bid=${hbId})}">Department List</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-xl-10 col-lg-7 col-md-9">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1>Employee Details</h1>
						</div>
						<h5 style=color:darkgreen th:text="${adminmsg}"></h5>
						<div>
							<h2></h2>
							<table id="example">
								<thead>
									<tr>
										<th>Name</th>
										<th>MobileNo</th>
										<th>Position</th>
										<th>City</th>
										<th>Email</th>
										<th>Gender</th>
										<th>Blood Group</th>
										<th>Profile</th>
										<th>Qr Code</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empObj : ${employeesList}">
										<td th:text="${empObj.employeeName}"></td>
										<td th:text="${empObj.contactNo}"></td>
										<td th:text="${empObj.employeePosition}"></td>
										<td th:text="${empObj.city}"></td>
										<td th:text="${empObj.email}"></td>
										<td th:text="${empObj.gender}"></td>
										<td th:text="${empObj.bloodGroup}"></td>
										<th scope="row"><img alt=" "
											th:src="*{'data:profile/jpeg;base64,'+{empObj.profile}}"
											style="width: 100px; height: 100px;"></th>
										<th scope="row"><img alt=" "
											th:src="*{'data:empQrCode/jpeg;base64,'+{empObj.empQrCode}}"
											style="width: 100px; height: 100px;"></th>
										<td><select name="table"
											onchange="location = this.value;">
												<option>Action</option>
												<option
													th:value="@{/Employee/editEmployee/{employeeId}(employeeId=${empObj.employeeId})}">edit
												</option>
												<option
													th:value="@{/Employee/deleteEmployee/{employeeId}(employeeId=${empObj.employeeId})}">
													Delete</option>
												<option th:value="@{/Employee/empid/{employeeId}(employeeId=${empObj.employeeId})}">Generate
													IDcard</option>
										</select></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- all appointments end -->
					</div>
				</div>
				<!-- main area end -->
			</div>
		</div>
	</main>
	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script>
		$(function () {
			$("#example").dataTable();
		})
	</script>
</body>
</html>