
<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Vcare</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="#" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<!-- MAIN CSS -->
<link rel="stylesheet" href="/dashboard/assets/css/final.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script
	src="https://cdn.tiny.cloud/1/vyae8xi0ny5tqluee5rz3sbzi3p6wdp0f51vmhh33svm0dzd/tinymce/6/tinymce.min.js"
	referrerpolicy="origin"></script>
<style>
body {
	background-image: url("/images/slider3.jpg");
	background-size:cover;
}
</style>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
<!-- 
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon"
									class="img-fluid" /><a th:href="@{/Dephome}">DepartmentList</a>
							</div> -->
					<div class="sidebar-item">
                                <img src="../images/Icons/pprofile.png" alt="icon"
                                    class="img-fluid" /> <a
                                    th:href="@{/Employee/editEmployee/{employeeId}(employeeId=${employeeObj.employeeId})}">Employee
                                    Profile</a>
                            </div>
							<span th:if="${employee.employeePosition =='Receptionist'}">

								<div class="sidebar-item">
									<img src="../images/Icons/pprofile.png" alt="icon"
										class="img-fluid" /><a
										th:href="@{/Employee/receptionform/{employeeId}(employeeId=${employee.employeeId})}">Reception</a>
								</div> 
							</span>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1 th:if="${employee.employeePosition =='Receptionist'}">Reception Screen</h1>
							<h1 th:if="${employee.employeePosition !='Receptionist'}">Employee Screen</h1>
						</div>
						<!-- page Heading End -->

						<!-- abailablility -->

						<div class="avaliability-box">
							<div class="form-box">
							</div>
						</div>
					</div>
				</div>
				<!-- abailablility -->
			</div>
		</div>
		</div>
		<!-- main area end -->
		</div>
	</main>
	<!-- SCRIPTS -->
	<script>
      tinymce.init({
        selector: '#description',
        plugins: [
          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
          'alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
      });
    </script>
	<script src="../js/jquery.js"></script>
	<script src="../js/dropdown.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>