<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
	<title>Vcare</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />
	<script src="https://cdn.tiny.cloud/1/vyae8xi0ny5tqluee5rz3sbzi3p6wdp0f51vmhh33svm0dzd/tinymce/6/tinymce.min.js"
		referrerpolicy="origin"></script>
</head>

<body>
	<!-- header -->
	<header class="header-box">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a href="@{/logout}">LogOut</a>

			</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
														<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid">
								<a th:href="@{/Drlist}">Doctor</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/patient/patientsList}">Patient</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Appointment}">Appointments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Insurance/insurancelist/{adminid}(adminid=${session.AdminId})}">Insurance</a>
							</div>

							
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/news/newstable}">News</a>
							</div>
							
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/SocialNetwork/networkList}">Social Network</a>
							</div>
							
							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/payments}">Payments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/Aboutus/addabout}">About Us</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/popularoffer/offerlist}">Offer services</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/laboratory/laboratoryList}">Laboratory</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1></h1>
							<h1> <span style="color:black; font-size:40px" th:text="${objHosp}"></span> Hospital</h1>
						</div>
						<!-- page Heading End -->

						<!-- abailablility -->

						<div class="avaliability-box">
							<div class="form-box">
								<form id="hosp_form" th:action="@{/hospital/savehospital}" method="post"
									th:object="${objHospital}" novalidate>

									<div class="row">
										<div class="col-md-6">

											<input type="hidden" class="form-control" id="hospitalId" name="hospitalId"
												th:value="*{hospitalId}" required="required" th:minlength="1"
												th:maxlength="100">
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<label for="name">Name</label> <input type="text" class="form-control"
												id="hospitalName" name="hospitalName" th:value="*{hospitalName}"
												required minlength="7" th:minlength="1" th:maxlength="100">
										

								<!-- 		<script>
											

											var stateObject = {
												"India": {
													"Andhra Pradesh": ["Amaravati"],
													"Arunachal Pradesh": ["Washington"],
													"Assam": ["Washington"],
													"Bihar": ["Washington"],
													"Chhattisgarh": ["Washington"],
													"Goa": ["Panaji", ""],
													"Gujarat": ["Gandhinagar"],
													"Haryana": ["Chandigarh"],
													"Himachal Pradesh": ["Shimla"],
													"Jharkhand": ["Ranchi"],
													"Karnataka": ["Bengaluru"],
													"Kerala": ["Thiruvananthapuram"],
													"Madhya Pradesh ": ["Bhopal"],
													"Maharashtra": ["Mumbai"],
													"Manipur": ["Imphal"],
													"Meghalaya": ["Shillong"],
													"Mizoram": ["Aizawl"],
													"Nagaland": ["Kohima"],
													"Odisha": ["Bhubaneswar"],
													"Punjab": ["Chandigarh"],
													"Rajasthan": ["Jaipur"],
													"Sikkim": ["Gangtok"],
													"Tamil Nadu ": ["Chennai"],
													"Telangana": ["Hyderabad"],
													"Tripura": ["Agartala"],
													"Uttar Pradesh": ["Lucknow"],
													"Uttarakhand": ["Dehradun"],
													"West Bengal": ["Kolkata"],
												},


											}
											window.onload = function () {
												var countySel = document.getElementById("countySel"),
													stateSel = document.getElementById("stateSel"),
													districtSel = document.getElementById("districtSel");
												for (var country in stateObject) {
													countySel.options[countySel.options.length] = new Option(country, country);
												}
												countySel.onchange = function () {
													stateSel.length = 1; // remove all options bar first
													districtSel.length = 1; // remove all options bar first
													if (this.selectedIndex < 1) return; // done
													for (var state in stateObject[this.value]) {
														stateSel.options[stateSel.options.length] = new Option(state, state);
													}
												}
												countySel.onchange(); // reset in case page is reloaded
												stateSel.onchange = function () {
													districtSel.length = 1; // remove all options bar first
													if (this.selectedIndex < 1) return; // done
													var district = stateObject[countySel.value][this.value];
													for (var i = 0; i < district.length; i++) {
														districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
													}
												}
											}
										</script>
										</head>
										<div class="col-md-3">
											<label for="loc">Country</label> <br>
											<select type="text" class="form-control" id="countySel"
												name="hospitalLocation" th:value="*{hospitalLocation}"
												required="required" th:minlength="1" th:maxlength="100">
												<option value="" selected="selected">Select Country</option>
											</select>

										</div>
									</div>


									<div class="row">
										<div class="col-md-3">
											<label for="loc">State</label>




											<select type="text" class="form-control" id="stateSel" name="hospitalState"
												th:value="*{hospitalState}" required="required" th:minlength="1"
												th:maxlength="100">
												<option value="" selected="selected">select State
												</option>

											</select>
										</div>

										<div class="col-md-3">
											<label for="loc">City</label>

											<select type="text" class="form-control" id="districtSel"
												name="hospitalCity" th:value="*{hospitalCity}" required="required"
												th:minlength="1" th:maxlength="100">
												<option value="" selected="selected">Select City</option>

											</select>
										</div>
									</div> -->



								<!-- 	<div class="row">
										<div class="col-md-3">
											<label for="loc">Address</label>
											<input type="text" class="form-control" id="hospitalAddress"
												name="hospitalAddress" th:value="*{hospitalAddress}" required="required"
												th:minlength="1" th:maxlength="100">
										</div>

										<div class="col-md-3">
											<label for="loc">Pincode</label>
											<input type="number" class="form-control" id="hospitalPincode"
												name="hospitalPincode" th:value="*{hospitalPincode}" required="required"
												th:minlength="6" onKeyUp="validateInput()">



											<div id="msg">
											</div>
											<script type="text/javascript">
												function Code(str) {
													return /^\d{6}(-\d{6})?$/.test(str);
												}

												function validateInput() {

													console.log("validateInput");
													let hospitalPincode = document.getElementById("hospitalPincode").value;
													let message = "";
													if (Code(hospitalPincode)) {
														message = "Valid Pin Code";
													} else {
														message = "Invalid Pin Code";
													}
													document.getElementById("msg").innerHTML = message;
												}
											</script>

										</div>
									</div>
 -->
								<!-- 	<div class="row">
										<div class="col-md-3">
											<label for="avl">Contact No</label>
											<input type="tel" class="form-control" id="hospitalNumber"
												name="hospitalNumber" pattern="^(?:0|\+?91)(?:\d\s?){9,10}$"
												th:value="*{hospitalNumber}" required="required" th:minlength="1"
												th:maxlength="100">

											<script type="text/javascript">
												var inputBox = document.getElementById("hospitalNumber");



												var invalidChars = [
													"-",
													"+",
													"e",
												];



												inputBox.addEventListener("keydown", function (e) {
													if (invalidChars.includes(e.key)) {
														e.preventDefault();
													}
												});

											</script>
											<div class="alert alert-info" style="display: none"></div>
											<div class="alert alert-error" style="display: none"></div>
											<script type="text/javascript">
												const phoneInputField = document.querySelector("#hospitalNumber");
												const phoneInput = window.intlTelInput(phoneInputField, {
													utilsScript:
														"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
												});

												const info = document.querySelector(".alert-info");
												const error = document.querySelector(".alert-error");

												function process(event) {
													event.preventDefault();

													const phoneNumber = phoneInput.getNumber();

													info.style.display = "";
													info.innerHTML = `Phone number in E.164 format: <strong>${phoneNumber}</strong>`;
												}
											</script>
										</div>

										<div class="col-md-3">
											<label for="avl">EmailId</label>
											<input type="email" class="form-control" id="hospitalEmailId"
												name="hospitalEmailId" th:value="*{hospitalEmailId}" required="required"
												th:minlength="1" th:maxlength="100">
										</div>
									</div> -->

									<!-- <div class="row">
										<div class="col-md-3">
											<label for="avl">license</label>
											<input type="text" class="form-control" id="hospitalLicense"
												name="hospitalLicense" th:value="*{hospitalLicense}" required="required"
												th:minlength="1" th:maxlength="100">
										</div>
 -->
										
									</div>


									
										<div class="col-md-4">
											<label for="avl">Google StoreLink</label>
											<input type="text" class="form-control" id="storeLink" name="storeLink"
												th:value="*{storeLink}" required="required" th:minlength="1"
												th:maxlength="100">
										</div>
										<div class="col-md-4">
											<label for="avl">App StoreLink</label>
											<input type="text" class="form-control" id="appStoreLink"
												name="appStoreLink" th:value="*{appStoreLink}" required="required"
												th:minlength="1" th:maxlength="100">
										</div>
									</div>
									
									<div class="row">
									<div class="col-md-10">
											<label for="loc">Hospital Timings</label>
											<textarea class="form-control" id="hosp-description" name="description"
												th:value="*{description}" required="required" th:minlength="1"
												th:maxlength="100" th:utext="*{description}" ></textarea>
										
										</div>
										</div>

									<div class="col-md-2">
										<label for=""></label>
										<center>
											<button type="submit" class="btn btn-danger btn-block"
												th:text="save"></button>
										</center>
									</div>
							</div>
							</form>
						</div>
					</div>

					<!-- abailablility -->
				</div>
			</div>
		</div>
		<!-- main area end -->
		</div>
	</main>

	<!-- SCRIPTS -->
	<script>
		tinymce.init({
			selector: '#hosp-description',
			plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
			toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
			toolbar_mode: 'floating',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
		});
	</script>

	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="./assets/js/script.js"></script> -->


</body>

</html>