<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vcare </title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> <!-- MAIN CSS -->
	<link rel="stylesheet" href="/dashboard/assets/css/final.css" />
	<link rel="stylesheet" href="/dashboard/assets/css/dropdownlink.css" />
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a href="#">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/app.png" alt=" icon" class="img-fluid">
								<a href="/hospital/hospitalList">Hospital</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/cal.png" alt="icon" class="img-fluid">
								<a th:href="@{/Drlist}">Doctor</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/patient/patientsList}">Patient</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Appointment}">Appointments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Insurance/insurancelist/{adminid}(adminid=${session.AdminId})}">Insurance</a>
							</div>

							
							<div class="sidebar-item">
								<img src="/images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/news/newstable}">News</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/SocialNetwork/networkList}">Social Network</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/payments}">Payments</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/Aboutus/addabout}">About Us</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/popularoffer/offerlist}">Offer services</a>
							</div>
							
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/laboratory/laboratoryList}">Laboratory</a>
							</div>
						</div>
					</section> 
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-xl-10 col-lg-9 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<div class="header-box">
								<h1>News List</h1>
								<a th:href="@{/news/addnews}">Add News</a>
							</div>
							<h5 style=color:darkgreen th:text="${adminmsg}"></h5>
						</div>
						<!-- page Heading End -->
						<!-- all appointments -->
						<div class="Doctor-list">
							<div class="appoi-box">
								<div class="head-area">
									<div class="heading-box">
										<table border="1" class="table table-striped table-responsive-md" id="example">
											<thead>
												<tr>
													<!-- <th>NewsId</th> -->
													<th>News Heading</th>
													<th>Description</th>
													<th>Image</th>
													<th>Action</th>
													<!--
<th>createdBy</th> -->
												</tr>
											</thead>
											<tbody>
												<ol>
													<tr th:each="News: ${newslist}">
														<!-- <td th:text="${News.NewsId}"></td> -->
														<td th:text="${News.ContentName}"></td>
														<td th:utext="${News.NewsDescription}"></td>
														<td scope="row"><img alt=" "
																th:src="*{'data:newsImage/jpeg;base64,'+{News.newsImage}}"
																style="width: 100px;height: 100px;"></td>
														<td class="select">
															<ul class="pm">
																<li><a href="#" title="#">Select</a>
																	<ul class="cm">
																		<li><a
																				th:href="@{/news/editnews/{NewsId}(NewsId=${News.NewsId})}">Edit</a>
																		</li>
																		<li><a
																				th:href="@{/news/deletenews/{NewsId}(NewsId=${News.NewsId})}">Delete</a>
																		</li>
																	</ul>
																</li>
															</ul>
														</td>
														<!-- <td th:text="${News.createdBy}"></td> -->
														<!-- <td><a th:href="@{/news/deletenews/{NewsId}(NewsId=${News.NewsId})}"class="btn btn-danger">Delete</a></td>
<td><a th:href="@{/news/editnews/{NewsId}(NewsId=${News.NewsId})}"class="btn btn-danger">Edit</a></td>
</tr> -->
												</ol>
											</tbody>
										</table>
									</div>
								</div>
								<!-- all appointments end -->
							</div>
						</div>
						<!-- main area end -->
					</div>
				</div>
	</main> <!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/smoothscroll.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="./assets/js/script.js"></script> -->
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script>
		$(function () {
			$("#example").dataTable();
		})
	</script>
</body>