<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vcare</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />

	<link rel="stylesheet" th:href="@{/dashboard/assets/css/table.css}" />
	<link rel="stylesheet" th:href="@{/dashboard/assets/css/dropdownlink.css}" />
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							   <div class="sidebar-item">
								<img src="../images/Icons/app.png" alt=" icon" class="img-fluid">
								<a href="/hospital/hospitalList">Hospital</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid">
								<a th:href="@{/Drlist}">Doctor</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/patient/patientsList}">Patient</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Appointment}">Appointments</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid">
								<a th:href="@{/Insurance/insurancelist/{adminid}(adminid=${session.AdminId})}">Insurance</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/news/newstable}">News</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid">
								<a th:href="@{/SocialNetwork/networkList}">Social Network</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/payments}">Payments</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/Aboutus/addabout}">About Us</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/popularoffer/offerlist}">Offer services</a>
							</div>
							<div class="sidebar-item">
								<img src="/images/Icons/prescription.jpg" alt="icon" class="img-fluid" />
								<a th:href="@{/laboratory/laboratoryList}">Laboratory</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-lg-10 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							
								  <div class="header-box">
									<h1>Offers list </h1>
									
									 <a th:href="@{/popularoffer/addpopularoffer}" class="img-fluid"  >Add popularoffer</a>
								  </div>
						</div>
						<!-- page Heading End -->
						<!-- abailablility -->
						<div class="avaliability-box">
							<div class="form-box">
								<table id="list">
									<thead>
										<tr>
											<th style="width:10%;">Name</th>
											<th style="width:10%;">Image</th>
											<th style="width:10%;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="offerObj:${offerlist}">
											<td th:text="${offerObj.name}"></td>
											<!-- <td th:utext="${offerObj.image}"></td> -->
											<th scope="row"><img alt=" "
											th:src="*{'data:profile/jpeg;base64,'+{offerObj.image}}"
											style="width: 100px; height: 100px;"></th>
										<td>	
										 <ul class="pm">
											<li><a title="#">Select</a>
												<ul class="cm">
													<li><a th:href="@{/contractService/addcontractService/{offerid}(offerid=${offerObj.id})}" title="#">Add contractServices</a></li>
													 <li><a th:href="@{/popularoffer/editoffer/{offerid}(offerid=${offerObj.id})}">Edit</a>
													</li> 
													 <li><a th:href="@{/popularoffer/deleteoffer/{offerid}(offerid=${offerObj.id})}">Delete</a>
													</li> 
												</ul>
											</li>
										</ul> 
									</td>
										</tr>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- main area end -->
		</div>
	</main>
	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8"src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" charset="utf8"src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script>
		$(function () {
			$("#list").dataTable();
		})
	</script>
</body>

</html>