<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vcare</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="#" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/dashboard/assets/css/final.css}" />
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container-fluid">
			<div class="header-box">
				<h4>Vcare</h4>
				<a th:href="@{/logout}">LogOut</a>
			</div>
		</div>
	</header>
	<!-- header -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4">
					<!-- sidebar -->
					<section class="sidebar">
						<div class="sidebar-wrap">
							<div class="Heading">
								<h4>Dashboard</h4>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/app.png" alt=" icon" class="img-fluid" />
								<a href="./index.html" class="active">Appointments</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pa.png" alt="icon" class="img-fluid" />
								<a href="./patients.html">Patients</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/cal.png" alt="icon" class="img-fluid" />
								<a href="./avaliability.html">Availability</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/profile.png" alt="icon" class="img-fluid" />
								<a href="./profile.html">Doctor Profile</a>
							</div>
							<div class="sidebar-item">
								<img src="../images/Icons/pprofile.png" alt="icon" class="img-fluid" />
								<a href="./pprofile.html">Patient Profile</a>
							</div>
						</div>
					</section>
					<!-- sidebar end -->
				</div>
				<!-- main area -->
				<div class="col-xl-10 col-lg-9 col-md-8">
					<div class="main-area">
						<!-- page Heading -->
						<div class="page-heading">
							<h1>View Doctors</h1>
						</div>
						<!-- page Heading End -->

						<!-- all appointments -->
						<div class="Doctor-list">
							<div class="appoi-box">
								<div class="head-area">
									<div class="heading-box">

										<table border="1" class="table table-striped table-responsive-md">
											<thead>
												<tr>
													<!-- 		<th>doctorId</th>
				<th>doctor Branch</th> -->
													<th>doctorName</th>
													<th>doctorGender</th>
													<th>doctorSpecialization</th>
												</tr>
											</thead>

											<tbody>

												<tr th:each="Doctors: ${doctorlist}">
													<!-- <td th:text="${Doctors.doctorId}"></td>
				<td th:text="${Doctors.doctorBranch}"></td> -->
													<td th:text="${Doctors.doctorName}"></td>
													<td th:text="${Doctors.doctorGender}"></td>
													<td th:text="${Doctors.doctorSpecialization}"></td>
													<td><a th:href="@{/Viewdoctors/{pid}/{doctorId}(pid=${pid},doctorId=${Doctors.doctorId})}"
															class="btn btn-default">View Doctor</a></td>

												</tr>

											</tbody>
										</table>
									</div>
								</div>
								<!-- all appointments end -->
							</div>
						</div>
						<!-- main area end -->
					</div>
				</div>
	</main>

	<!-- SCRIPTS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <script src="../js/jquery.sticky.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="./assets/js/script.js"></script> -->
</body>